<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- srping 폴더 !! -->
<mapper namespace="boardMapper">
	
	<insert id="insertBoard" parameterType="BoardVO">
		INSERT INTO TB_BOARD(NO,CONTENT,TITLE)
		VALUES((SELECT NVL(MAX(NO),0)+1 FROM TB_BOARD),#{content},#{title})
	</insert>

	<select id="selectBoard">
		SELECT * FROM TB_BOARD WHERE CATEGORY = #{category} AND NO=#{no}
	</select>
	
	<select id="selectList">
		SELECT * FROM TB_BOARD WHERE CATEGORY =#{category} AND ISDELETE = 'N'
	</select>
	
	<update id="updateBoard">
		UPDATE TB_BOARD
		SET TITLE = #{title}
		,CONTENT = #{content}
		WEHRE NO = #{no} AND CATEGORY = #{category}
	</update>
	
	<update id="deleteBoard">
		UPDATE BOARD
		SET ISDELETE = 'Y'
		WEHRE NO = #{no} AND CATEGORY = #{category}
	</update>
	
	<select id="commentList">
		SELECT * FROM TB_COMMENT
		WHERE CATEGORY =#{category} AND ISDELETE = 'N' REF_BNO=
	</select>
	
	<update id="updateComment">
	
	</update>
	
	<update id="deleteList">
	
	
	</update>
	
</mapper>










