.IdPwdFindDiv{
    display: block;
    width: 1536px;
    background: darkgrey;
    height: 722px;

    opacity: 0.7;
}
.FindDiv{
    width: 541px;
    height: 721px;
    display: block;
    background: white;
    margin: 0 auto;
}

.fa-chevron-left{
    margin-left: 46px;
    margin-top: 20px;
    font-size: 25px;
}
.FindId{
    margin-left: 45px;
    margin-top: 28px;
    font-size: 46px;
}
.FindTable{
    border: none;

    margin-top: 16px;
    margin-left: -54px;
}
.FindIdBtn{
    float: left;
    margin-left: 100px;
    height: 50px;
    width: 220px;
    background: darkgrey;
}
.FindPwdBtn{
    margin-left: -2px;
    width: 220px;
    height: 50px;
    background: white;
}
.FindIdText{
    margin-top: 36px;
    margin-left: 99px;
    width: 440px;
    height: 48px;
}
.IdCheck{
    height: 48px;
    width: 440px;
    margin: 86px;
    margin-left: 98px;
    border: none;
}
.IdFindresult{
    font-size: 34px;
    margin-left: 45px;
    margin-top: 28px;
}
.IdTransfercompleteDiv{
    width: 382px;
    height: 353px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: unset;
    margin-left: 54px;
}
.IdTransfercomplete{
    float: right;
    font-weight: bold;
    margin-left: 165px;
    width: 187px;
}
.FindPwdSend{
    margin-left: 170px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    background: none;
    border: none;
}
.loginSend{
    width: 358px;
    height: 57px;
    display: block;
    margin: 63px auto;
    border: 1px solid blue;
    background: blue;
    color: white !important;
}
.loginText{
    text-align: center;
    margin-top: 14px;
}
.FindPwdText{
    margin-top: 36px;
    margin-left: 99px;
    width: 440px;
    height: 48px;
}
.PwdCheck{
    height: 48px;
    width: 440px;
    margin: 86px;
    margin-left: 98px;
    border: none;
}
.FindPwd{
    margin-left: 45px;
    margin-top: 28px;
    font-size: 46px;
}
.PwdFindresult{
    font-size: 34px;
    margin-left: 45px;
    margin-top: 28px;
}
.PwdTransfercompleteDiv{
    width: 382px;
    height: 217px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: unset;
    margin-left: 49px;
}
.PwdTransfercomplete{
    float: right;
    font-weight: bold;
    margin-left: 165px;
    width: 187px;
}